.start-background {
  background-image: "https://media.moddb.com/images/groups/1/9/8185/Black_Rock_Shooter_HD_1.jpg";
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
